<%- include("../includes/header.ejs", {title:"Launch Pads - " + result[0].org_name}); %>
<h1>Launch Pads</h1>
<ul>
    <li>Launch Pad Name: <%= result[0].pad_name%></li>
    <li>Organization Name: <%= result[0].org_name %></li>
    <li>Address: <%= result[0].address%></li>
</ul>

<a href="/launch_pad/all"><< back</a>

<%- include("../includes/footer.ejs"); %>